body{
    margin: 0px;
    font-family:boska;
    font-weight: bold;
    background-color: #E9E9E9;
}

nav{
    background-color: #22222E;
    width: 100%;
    font-size:40px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    padding-top: 15px;
    padding-bottom: 15px;

    a{
        text-decoration: none;
        color: #ADA9BA;
        padding: 8px;
    }
    
    a:hover{
        color: #ffffff;
    }
}

.right{
    float: right;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.main{
    border: none;
    border-radius: 20px;
    background-color: #dbdada;
    padding: 5px;
    margin: 17px;
    box-shadow: 10px 10px 5px #ADA9BA;
}
.image{
    padding: 7px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    color: #22222E;
    font-weight: 550;

    img{
        opacity: 0.7;
        border-radius: 50%;
        box-shadow: 6px 6px 6px #ADA9BA;
        box-sizing: border-box;
    }

    img:hover{
        opacity: 1;
        transform: scale(1.05);
        border-radius: 50%;
        transition: all 0.2s ease-in-out 0s;
    }
}

.title{
    opacity: 1;
    background: linear-gradient(to bottom right,rgb(212, 139, 212),rgb(47, 47, 102),lightcoral,pink);
    font-size: 40px;
    font-weight: 700;
    color: transparent;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    font-family: stardom;
}

.title:hover{
    transform: rotate(360deg);
    transition: all 0.8s ease-in-out 0s;
}

footer{
    text-align: center;
    font-family: stardom;
    font-size: 14px; 
    color: #ADA9BA;
    margin: 0px;
    background-color: #22222E;
    padding: 20px;
    opacity: 0.99;

    a{
        text-decoration: none;
        color: #ADA9BA;
        padding: 8px;
    }
    
    a:hover{
        color: #ffffff;
    }
}